.z-card {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: var(--z-radius-container);
  background-color: var(--z-color-background-surface);
  color: var(--z-color-text-primary);
}

.z-card__header {
  display: flex;
  flex-direction: column;
  gap: var(--z-spacing-stack-form);
  padding: var(--z-spacing-inset-box-comfortable);
  padding-bottom: 0;
}

.z-card__title {
  margin: 0;
  color: var(--z-color-text-primary);
  font-family: var(--z-text-title-font-family);
  font-size: var(--z-text-title-size);
  font-weight: var(--z-text-title-weight);
  line-height: var(--z-text-title-line-height);
  font-optical-sizing: auto;
  font-style: normal;
}

.z-card__description {
  margin: 0;
  color: var(--z-color-text-tertiary);
  font-family: var(--z-text-caption-font-family);
  font-size: var(--z-text-caption-size);
  font-weight: var(--z-text-caption-weight);
  line-height: var(--z-text-caption-line-height);
  font-optical-sizing: auto;
  font-style: normal;
}

.z-card__content {
  padding: var(--z-spacing-inset-box-comfortable);
  color: var(--z-color-text-primary);
  font-family: var(--z-text-body-font-family);
  font-size: var(--z-text-body-size);
  font-weight: var(--z-text-body-weight);
  line-height: var(--z-text-body-line-height);
  font-optical-sizing: auto;
  font-style: normal;
}

.z-card__header + .z-card__content {
  padding-top: var(--z-spacing-stack-component);
}

.z-card__footer {
  display: flex;
  align-items: center;
  gap: var(--z-spacing-gap-inline);
  padding: var(--z-spacing-inset-box-comfortable);
  padding-top: 0;
  color: var(--z-color-text-secondary);
}

.z-card__content + .z-card__footer {
  padding-top: var(--z-spacing-stack-component);
}
